<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}Is there a Giants game?{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head><body>

    <div id="container">
        <p id="top">Is there a Giants game?</p>
        <!-- today is {{ today|date:"l, M j" }} -->

        <div id="answer">
        {% if gametoday and homegame %}
            <h1><img src="/static/yes.png" width="381" height="152" alt="YES"></h1>
        {% else %}{% if gametoday %}
            <p>Yes, but it's</p>
            <h1><img src="/static/away.png" width="561" height="149" alt="AWAY"></h1>
        {% else %}
            <h1><img src="/static/nope.png" width="536" height="150" alt="NOPE"></h1>
        {% endif %}{% endif %}
        </div>

        <p>
            {% if not gametoday %}Next game {{ nextgame.2|date:"l, M j" }}<br>{% endif %}
            {{ nextgame.1 }}<br>
            {{ nextgame.2|date:"g:i" }} <small>{{ nextgame.2|date:"A" }}</small> &ndash;
            {{ nextgame.3|date:"g:i" }} <small>{{ nextgame.3|date:"A" }}</small>
        </p>
    </div>

</body></html>
